<nav class="navbar navbar-default yamm " data-heighttopbar="60px" data-startnavbar="0">
    <div class="container">
        @{ 
            var action = ViewContext.RouteData.GetRequiredString("action");
        }
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Learner")"><img src="~/assets/images/content/logo.png" alt="logo" /></a>
        </div>
        <div class="ct-navbar--fluid pull-right">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="dropdown yamm-fw @if (action == "Index") { @Html.Raw("active") }">
                    <a href="@Url.Action("Index", "Learner")">Home</a>
                </li>
                <li class="dropdown-submenu yamm-dropdown @if (action == "ViewOfferedCourses"  || action == "ViewCourseDetails" || action == "ViewDetails") { @Html.Raw("active") }">
                    <a href="javascript:">Courses</a>
                    <ul class="dropdown-menu">
                        <li class=" @if (action == "ViewOfferedCourses") { @Html.Raw("active") }">
                            <a href="@Url.Action("ViewOfferedCourses", "Learner")">Enroll New Courses</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Learner")">My Enrolled Courses</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw @if (action == "TakeLecture" || action == "ScheduledLectures") { @Html.Raw("active") }">
                    <a href="@Url.Action("ScheduledLectures","Learner")">Up Coming Lectures</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

