@model Web_omlate.Models.User
@using Web_omlate.Models

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Learner/_LearnerNav.cshtml")


@{ICollection<LearnerEnroll> enrolledCourses = Model.EnrolledCourses;}

<div class="ct-site--map ct-u-backgroundGradient">
    <div class="container">
        <div class="ct-u-displayTableVertical text-capitalize">
            <div class="ct-u-displayTableCell">
                <span class="ct-u-textBig">
                    @Html.DisplayName("Hi!, " + Model.FirstName + " " + Model.LastName)
                    <a class="btn btn-primary pull-right" id="editInfoButton" href="@Url.Action("EditInfo", "Learner", new { username=Model.Username })">Edit Your Info</a>
                </span>
            </div>
        </div>
    </div>
</div>
<section class="ct-u-backgroundLightGreen">
    <div class="container ct-u-marginBoth20">
        <div class="row">
            <div class="col-md-12">
                <div class="ct-textBox ct-textBox--thin">
                    <div class="ct-textBox--heading">
                        <h4 class="ct-fw-700 ct-u-colorMotive">My Enrolled Courses</h4>
                        <div class="ct-textBox--withNumber">
                            <span class="ct-fw-700">@enrolledCourses.Count</span>
                        </div>
                    </div>
                        @foreach (var item in enrolledCourses)
                        {
                            <div class="ct-u-padding70">
                                @*<div class="ct-productBox ct-productBox--inline ct-u-displayTable ct-u-marginBottom30">
                                    <div class="ct-u-displayTableCell">
                                        <div class="ct-productImage">
                                            <a href="@Url.Action("ViewDetails", new { offeredCourseId = item.EnrolledCourse.OfferedCourseID })">
                                                <img src="~/Content/images/content/product-inline1.jpg" alt="Product">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ct-u-displayTableCell">
                                        <div class="ct-productDescription">
                                            <a href="@Url.Action("ViewDetails", new { offeredCourseId = item.EnrolledCourse.OfferedCourseID })"><h5 class="ct-fw-600 ct-u-marginBottom10">@(item.EnrolledCourse.Course.CourseCode + "-" + item.EnrolledCourse.Course.CourseTitle)</h5></a>
                                            <span>
                                                @("Enroll Date: " + item.EnrollDate) <br />
                                                @("Completion Date: " + item.CompletionDate) <br />
                                                The Course Details.The Course Details.The Course Details......
                                                <br />

                                            </span>
                                        </div>
                                        <div class="ct-productMeta">
                                            <div class="ct-u-displayTableVertical">
                                                <div class="ct-u-displayTableCell">
                                                    <div class="starrr" data-rating='4'></div>
                                                </div>
                                                <div class="ct-u-displayTableCell">
                                                    <span class="ct-u-colorMotive">@item.EnrolledCourse.CreditHours</span>
                                                </div>
                                                <div class="ct-u-displayTableCell">
                                                    <a href="#">
                                                        @enrolledCourses.Count <i class="fa fa-user"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="ct-productBox ct-productBox--inline ct-u-displayTable">
                                    <div class="ct-u-displayTableCell">
                                        <div class="ct-productImage">
                                            <a href="@Url.Action("ViewDetails", new { offeredCourseId = item.EnrolledCourse.OfferedCourseID })">
                                                <img src="~/Content/images/content/product-inline1.jpg" alt="Product">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ct-u-displayTableCell" style="width: 100%">
                                        <div class="ct-productDescription">
                                            <a href="@Url.Action("ViewDetails", new { offeredCourseId = item.EnrolledCourse.OfferedCourseID })"><h5 class="ct-fw-600 ct-u-marginBottom10">@(item.EnrolledCourse.Course.CourseCode + "-" + item.EnrolledCourse.Course.CourseTitle)</h5></a>
                                            <span style="font-style: normal">
                                                <label>Course Starting Date:</label> @item.EnrollDate
                                                <br />
                                                <label>Course Ending Date:</label> @item.CompletionDate <br>
                                            </span>
                                        </div>
                                        <div class="ct-productMeta">
                                            <div class="ct-u-displayTableVertical">
                                                <div class="ct-u-displayTableCell">
                                                    <div class="starrr" data-rating="4"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                                </div>
                                                <div class="ct-u-displayTableCell">
                                                    @item.EnrolledCourse.CreditHours
                                                </div>
                                                <div class="ct-u-displayTableCell">
                                                    @enrolledCourses.Count <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                }
                            </div>
            </div>
        </div>
    </div>
</section>