@model IEnumerable<Web_omlate.Models.OfferedCoursesViewModel>
@using Web_omlate.Models
@{
    ViewBag.Title = "Offered Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Learner/_LearnerNav.cshtml")

<section class="ct-u-backgroundLightGreen">
    <div class="container">
        <div class="ct-u-marginBoth20">
            <div class="ct-heading--withButton">
                <h3 class="ct-fw-700 pull-left">Available Courses</h3>
                
                <div class="clearfix"></div>
            </div>
            <div class="ct-divider">
                <div class="ct-divider ct-u-marginBoth20"></div>
                    <div class="row">
                        @{
                            List<OfferedCourse> suggested = (List<OfferedCourse>)ViewBag.Suggested;
                            foreach (var item in suggested)
                            {
                                <div class="col-sm-6 col-md-3">
                                    <div class="ct-productBox ct-u-marginBottom30">
                                        <a href="@Url.Action("ViewCourseDetails", "Learner", new { offeredCourseId=@item.OfferedCourseID })">
                                            <div class="ct-productImage">
                                                <img src="~/Content/images/content/product-inline1.jpg" alt="Product">
                                            </div>
                                            <div class="ct-productDescription">
                                                <p style="padding-left: 5px;
                                                            padding-right: 5px;
                                                            font-size: 12px;
                                                            width: 70px;
                                                            color: White;
                                                            font-weight: bold;
                                                            background-color: rgb(254, 196, 33);
                                                            border-radius: 3px;
                                                            line-height: 19px;"> Suggested</p>
                                                <h5 class="ct-fw-600 ct-u-marginBottom10">@(item.Course.CourseCode.ToString() + " - " + item.Course.CourseTitle.ToString() + "")</h5>
                                                <span>@item.Course.CourseCategory.CategoryName</span>
                                            </div>
                                        </a>
                                        <div class="ct-productMeta">
                                            <div class="ct-u-displayTableVertical">
                                                <div class="ct-u-displayTableCell">
                                                    Offered By:
                                                </div>
                                                <div class="ct-u-displayTableCell">
                                                    <div class="ct-u-displayTableCell">
                                                        @item.OfferedByID <i class="fa fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                        @foreach (var item in Model)
                        {
                            if(suggested.Where(s=>s.OfferedCourseID  == item.OfferedCourseID).Any())
                            {
                                continue;
                            }
                            {

                            }
                        <div class="col-sm-6 col-md-3">
                            <div class="ct-productBox ct-u-marginBottom30">
                                <a href="@Url.Action("ViewCourseDetails", "Learner", new { offeredCourseId=@item.OfferedCourseID })">
                                    <div class="ct-productImage">
                                        <img src="~/Content/images/content/product-inline1.jpg" alt="Product">
                                    </div>
                                    <div class="ct-productDescription">
                                        <h5 class="ct-fw-600 ct-u-marginBottom10">@(item.Course.CourseCode.ToString()+" - "+ item.Course.CourseTitle.ToString() + "")</h5>
                                        <span>@item.Course.CourseCategory.CategoryName</span>
                                    </div>
                                </a>
                                <div class="ct-productMeta">
                                    <div class="ct-u-displayTableVertical">
                                        <div class="ct-u-displayTableCell">
                                            Offered By:
                                              </div>
                                        <div class="ct-u-displayTableCell">
                                                <div class="ct-u-displayTableCell">
                                                    @item.OfferedByID <i class="fa fa-user"></i>
                                                </div>
                                            
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        }
                        <div class="clearfix visible-sm"></div>
                    </div>

                </div>
            
        </div>
    </div>
</section>