@using Web_omlate.Models;
@{
    ViewBag.Title = "Edit Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Instructor/_InstructorNav.cshtml")
<div class="container ct-u-marginBoth20">
    <div class="row">
        <div class="col-md-6">
            <div class="ct-textBox ct-textBox--thin">
                <div class="ct-textBox--heading">
                    <h4 class="ct-fw-700 ct-u-colorMotive">Edit Quiz
                        <button class="pull-right text-right btn btn-sm btn-primary" style="padding-top:0px">
                            @Html.ActionLink("Add Question", "AddQuestionToQuiz", "Instructor", new { ViewBag.quizId }, new { style = "color:#ffffff; font-size: 15px;" })
                        </button>
                    </h4>
                    
                </div>
                    <div class="panel-group" id="accordion">
                            @if(ViewBag.questions.Count == 0)
                            {
                                <h4>No Question Found</h4>
                            }

                            @foreach (QuizQuestion question in ViewBag.questions)
                            {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@question.ID"  aria-controls="@question.ID">
                                                    @question.QuestionStatement
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@question.ID" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <b>Options:</b>@{ 
                                                    var arr = question.Options.Split(new String[]{"!#!#!"}, StringSplitOptions.RemoveEmptyEntries);
                                                    int temp = int.Parse(question.Answer);
                                                    var qId = question.ID;
                                                    var quizId = ViewBag.quizId;
                                                }
                                                <ul>
                                                @foreach (var item in arr)
                                                {
                                                    <li>@item</li>
                                                }
                                                </ul>
                                                <b>Answer:</b> @arr[temp - 1]
                                                @Html.ActionLink("Remove Question", "RemoveQuestion", "Instructor", new { qId, quizId }, new { @class="pull-right"})
                                            </div>
                                        </div>


                                    </div>
                            }
                    </div>
                
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="ct-textBox ct-textBox--thin">
                <div class="ct-textBox--heading"><h4 class="ct-fw-700 ct-u-colorMotive">Submissions</h4></div>
                    @if (ViewBag.attempts.Count != 0)
                    {
                    
                        var i = 1;
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("S.No")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Username")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Attempt Time")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Marks")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.attempts)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayName(i.ToString())
                                        </td>
                                        <td>
                                            @item.LearnerID
                                        </td>
                                        <td>
                                            @item.AttemptTime
                                        </td>
                                        <td>
                                            @item.Marks
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
            </div>
        </div>
    </div>
</div>
