@model Web_omlate.Models.User

@{
    ViewBag.Title = "EditInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Instructor/_InstructorNav.cshtml")
<br />

<div class="container ct-u-paddingBoth100">
    <div class="row">
        <div class="col-md-12">
            <div class="ct-textBox ct-textBox--thin">
                <div class="ct-textBox--heading">
                    <h4 class="ct-fw-700 ct-u-colorMotive">Edit User Info : @(" " + Model.Email)</h4>
                </div>

                @using (Html.BeginForm("SaveEditInfo", "Instructor", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div style="color: red"> @ViewBag.msg</div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Username)

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Field, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">

                                @Html.DropDownListFor(mode => mode.Field, (IEnumerable<SelectListItem>)ViewBag.fields, new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="submit" value="Update" class="btn btn-default" />
                                <a class="btn btn-default" href="@Url.Action("Index", "Instructor")">Back to Home</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>